<!DOCTYPE html>
<html>

<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />{{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">{{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "plugins/bootstrap-3.3.5/css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "plugins/highlight-9.1.0/styles/monokai-sublime.css"}}" />
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed" data-spy="scroll" data-target="#tocScrollspy">

    <div class="site-wrapper clearfix">
        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer clearfix">
            <div class="footer-meta container">
                {{!<a href="@blog.url">@blog.title</a> }}
                <section class="copyright"><a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
                <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
            </div>
        </footer>

    </div>

    <div id="backTop" class="backTop">
        <button class="btn btn-inverse">
            <i class="fa fa-chevron-up"></i>
        </button>
    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/com-min.js"}}"></script>
    {{! The main JavaScript file for Kaldorei }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
</body>

</html>
